
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

// $darkColor: ;
// $bodyColor: ;
// $linkColor: ;
$borderColor: #eee;
// $jazzColor: ;
// $alertColor: ;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: 15px;
$spacing-xs: 20px;
$spacing-s: 30px;
$spacing-m: 40px;
$spacing-l: 50px;
$spacing-xl: 60px;
