
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #354051;
$bodyBackColor: #ebf1f5;
$bodyColor: #4e515e;
$linkColor: #60b0c5;
$borderColor: #eee;
$jazzColor: #e46b60;

$alertColor: #ecc8c5;
$infoColor: #cee8f5;
$warningColor: #f8f3d6;
$successColor: #def2d6;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: 15px;
$spacing-xs: 20px;
$spacing-s: 30px;
$spacing-m: 40px;
$spacing-l: 50px;
$spacing-xl: 60px;


/*

OTHER VARIABLES
------------------------------------------- */

$borderRadius: 3px;
