/*

BUTTONS
---------------------------------------------------------

*/


.button {
  @extend %sans;
  padding: 8px 20px;
  &.small {
    padding: 10px 15px;
  }
  &.add-new__button {
    background: darken($bodyBackColor, 30%);
    position: absolute;
    top: 6px;
    right: 0;
    margin: 0;
    &:hover, &:focus {
      background: $linkColor;
    }
  }
}

button, .button {
  background: $linkColor;
  margin-top: $spacing-xxs;
  &:hover {
    background: darken($linkColor, 10%);
  }
}


button.toggleNav {
  background: none;
  color: $linkColor;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  &:focus, &:hover {
    color: darken($linkColor, 5%);
  }
}


