/*

BUTTONS
---------------------------------------------------------

*/


.button {
  @extend %sans;
  padding: 8px 20px;
  &.small {
    padding: 10px 15px;
  }
}

button, .button {
  background: $linkColor;
  margin-top: $spacing-xxs;
  &:hover {
    background: darken($linkColor, 10%);
  }
}
