/*

FORMS
-------------------------------------------

*/


.modern-input {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  &:focus {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
}

input[type="text"].modern-input {
  font-size: 180%;
  font-weight: 700;
  margin-bottom: $spacing-xs;
  @extend %sans-secondary;
}

textarea.modern-input {
  font-size: 100%;
  resize: none;
  height: 250px;
}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  border-radius: 3px;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: lighten($darkColor, 45%);
}

::-webkit-input-placeholder {
   color: lighten($darkColor, 35%);
   @include transition(all .2s ease-in-out);
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
        color: lighten($darkColor, 45%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($darkColor, 35%);
   @include transition(all .2s ease-in-out);
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
        color: lighten($darkColor, 45%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($darkColor, 35%);
   @include transition(all .2s ease-in-out);
}

select {
  max-width: 80%;
  width: auto;
  margin-right: 5px;
}

select[multiple="multiple"] {
  width: 100%;
  height: 150px;
}

textarea {
  min-height: 125px;
}

.input {
  @extend %clearfix;
}

.field_with_hint {
  input, textarea {
    margin-bottom: 3px;
  }
  margin-bottom: 1rem;
}

.hint {
  color: #aaa;
  display: block;
  font-size: 75%;
}

.button {
  margin-top: $spacing-s;
}

.section__avatar {
  img {
    float: left;
    margin-right: $spacing-xs;
  }
  p {
    display: inline;
    vertical-align: middle;
  }
}
