/*

DEVISE
---------------------------------------------------------

*/

/* Login Styles */

.page__login {
  background: $jazzColor;
  .logo {
    margin: 0 auto $spacing-s;
  }
  .hint {
    color: lighten($jazzColor, 25%);
  }
}

.login__main {
  margin: $spacing-m 0;
  h2, label {
    color: white;
  }
  p {
    color: lighten($jazzColor, 25%);
  }
  hr {
    border: solid lighten($jazzColor, 10%);
  }
}

.login__header {
  text-align: center;
}

.login__form {
  input, textarea {
    box-shadow: none;
    border: 0;
    resize: none;
    &:focus {
      background: lighten(#feffd0, 2%);
      box-shadow: none;
      border: 0;
    }
  }
  button, .button {
    background: $darkColor;
    &:hover, &:focus {
      background: darken($darkColor, 5%);
    }
  }
}


/* Registrations Styles */

h3 {
  color: darken($jazzColor, 35%);
}

.radio_buttons {
  .radio {
    display: block;
  }
}
