/*

MAIN CONTENT
---------------------------------------------------------

*/

.site__content {
  margin: 0 0 0 25%;
}

.content__wrapper {
  box-shadow: 0 1px 2px darken($bodyBackColor, 3%);
  margin: $spacing-l $spacing-m;
  // max-width: 700px;
  position: relative;
}

.white-panel {
  background: white;
  border: 1px solid darken($bodyBackColor, 5%);
  border-radius: $borderRadius;
  padding: $spacing-s;
}

.page__title {
  margin-bottom: $spacing-s;
  h1, h2 {
    margin: 0;
    line-height: 110%;
  }
}


/* Posts Styles */

.comments {
  margin: 0 0 $spacing-l;
}

.comment {
  padding: $spacing-m 0;
  border-bottom: 1px solid $borderColor;
  p:last-child {
    margin-bottom: 0;
  }
  &.admin {
    // border-left: 5px solid $jazzColor;
    &:before {
      background: $jazzColor;
      content: "";
      display: block;
      margin-top: -$spacing-m;
      margin-bottom: $spacing-m;
      width: 200px;
      height: 5px;
    }
  }
}

.comment__author {
  margin-bottom: 5px;
  .comment__time {
    display: inline-block;
    color: lighten($bodyColor, 25%);
    font-size: 85%;
    margin-left: 10px
  }
}
