/*

MAIN CONTENT
---------------------------------------------------------

*/

/* Front-End Styles */

.app-content__wrapper {
  margin: $spacing-l $spacing-m;
}


/* Back-end Styles */
.site__content {
  margin: 0 0 0 25%;
}

.content__wrapper {
  margin: $spacing-l $spacing-m;
  // max-width: 700px;
  position: relative;
}

.white-panel {
  background: white;
  box-shadow: 0 2px 0 darken($bodyBackColor, 3%);
  border-radius: $borderRadius;
  padding: $spacing-s;
  @extend %clearfix;
}

.page__title {
  margin-bottom: $spacing-s;
  h1, h2 {
    margin: 0;
    line-height: 110%;
  }
}


/* Posts Styles */

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  border-bottom: 1px solid $borderColor;
  padding-bottom: $spacing-s;
  margin-bottom: $spacing-s;
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  h3 {
    margin-bottom: 0;
    small {
      color: lighten($bodyColor, 35%);
      margin-left: $spacing-xxs;
    }
  }
}

.post_content {
  margin-bottom: 0;
}

.comments {
  margin: 0 0 $spacing-l;
}

.comment {
  padding: $spacing-m 0;
  border-bottom: 1px solid $borderColor;
  p:last-child {
    margin-bottom: 0;
  }
  &.admin {
    // border-left: 5px solid $jazzColor;
    &:before {
      background: $jazzColor;
      content: "";
      display: block;
      margin-top: -$spacing-m;
      margin-bottom: $spacing-m;
      width: 200px;
      height: 5px;
    }
  }
}

.comment__author {
  margin-bottom: 5px;
  .comment__time {
    display: inline-block;
    color: lighten($bodyColor, 25%);
    font-size: 85%;
    margin-left: 10px
  }
}
