/*

MAIN CONTENT
---------------------------------------------------------

*/

.site__content {
  margin: 0 0 0 25%;
}

.content__wrapper {
  box-shadow: 0 1px 2px darken($bodyBackColor, 3%);
  margin: $spacing-l 0 $spacing-m $spacing-m;
  max-width: 700px;
}

.white-panel {
  background: white;
  border: 1px solid darken($bodyBackColor, 5%);
  border-top: none;
  border-radius: 0 0 $borderRadius $borderRadius;
  padding: $spacing-s;
}

.page-title {
  background: $jazzColor;
  border-radius: $borderRadius $borderRadius 0 0;
  border: 1px solid darken($jazzColor, 5%);
  // border-bottom: none;
  color: white;
  font-weight: normal;
  margin: 0;
  padding: $spacing-xs $spacing-s;
}


/* Posts Styles */

.comments {
  margin: 0 0 $spacing-l;
}

.comment {
  padding: $spacing-m 0;
  border-bottom: 1px solid $borderColor;
  p:last-child {
    margin-bottom: 0;
  }
  &.admin {
    // border-left: 5px solid $jazzColor;
    &:before {
      background: $jazzColor;
      content: "";
      display: block;
      margin-top: -$spacing-m;
      margin-bottom: $spacing-m;
      width: 200px;
      height: 5px;
    }
  }
}

.comment-author__picture {
  img {
    border-radius: 150px;
  }
}

.comment__author {
  margin-bottom: 5px;
  .comment__time {
    display: inline-block;
    color: lighten($bodyColor, 25%);
    font-size: 85%;
    margin-left: 10px
  }
}
