= content_for :title, 'Posts'

= link_to 'New Post', new_manage_post_path, class: 'button add-new__button radius'

- if @posts.present?
  %table
    %thead
      %tr
        %th Post Name
        %th Published Date
        %th{ colspan: '2' } Jobs
    %tbody
      = render @posts
- else
  %p There aren't any post, because you haven't written any, silly!
