= content_for :title, 'Users'

= link_to 'New User', new_admin_user_path, class: 'button add-new__button radius'

%table
  %thead
    %tr
      %th{ colspan: '2' } Name
      %th Email
      %th Role
  %tbody
    = render @users
